.content {
    max-width: 1200px;
    height: auto;
    border: 2px groove gray;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product__pictures {
    display: flex;
    flex-direction: row;
}

.product__list-pic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .product__title {
    
} */